<?php

	# OSM OAuth stuff

	$GLOBALS['cfg']['osm_oauth_key'] = '';
	$GLOBALS['cfg']['osm_oauth_secret'] = '';

	# (see notes in www/signin_osm_oauth.php)
	$GLOBALS['cfg']['crypto_oauth_cookie_secret'] = '';

?>
